/*by chj*/
@charset "UTF-8";
body,ul,ol,p,h1,h2,h3,dl,dd,dt,form,input,select { padding:0; margin:0; font-family:Arial, Helvetica, sans-serif; }
li { list-style:none;}
img { border:none;}
a { text-decoration:none;}
a:hover { text-decoration:none; }
body { background-color: #2a2e3d; font-family: 'Microsoft YaHei', arial, sans-serif, 宋体;min-width: 1238px;}

.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }

#header{ 
	height: 56px; 
	padding: 0 100px 0 50px; 
	background-color: #2189bf;
}
#header .logo{
	float: left;
	width: 36px; 
	height: 36px; 
	background-color: #fff;
	margin-top: 10px;
}
#header .logo:after{ 
	display: block; 
	content: ""; 
	width: 15px; 
	height: 15px; 
	border: 3px #2189bf solid;
	position: relative;
	left: 18px;
	top: 18px;
}
#header form{
	display:inline-block;
	float: right;
	margin-top: 13px;

}
#header input{
	width: 170px;
	border: none;
    height: 30px;
    line-height: 30px;
    border-radius: 50px;
    vertical-align: middle;
    padding-left: 40px;
    background:#fff url("../img/sprite.png") no-repeat 4px -733px;
    
}
#header button{
	background-color: transparent;
	color: #fff;
	border: none;
	height: 30px;
	vertical-align: middle;

}
#header .icon{
	display: inline-block;
	content: "";
	width: 18px;
	height: 30px;
	background: url("../img/sprite.png") no-repeat -9px -815px;
	vertical-align: middle;
	
}

#side{ 
	width: 260px;
	background-color: #2a2e3d;
	float: left;
}
.userms{
	text-align: center;
	padding-top: 20px;
}
.face{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #2a2e3d;
	border: 1px #b2aaad solid;
	border-radius: 50%; 
	vertical-align: middle;
}
.face div{
	width: 42px;
	height: 42px;
	background-color: #ccc;
	border: 4px #2a2e3d solid;
	border-radius: 50%;
}
.userms span{
	color: #fff;
	vertical-align: middle;
}
.userms ul{
	margin:20px 0 40px 0;
}
.userms li{
	float: left;
	width: 50%;
	box-sizing:border-box;
	padding-right: 40px;
}
.userms .li1{
	border-right: 1px  #6e8095 solid;
	padding: 0 0 0 40px;
}

.userms p{
	color: #6e8095;
	font-size: 12px;
    line-height: 1.5;
    text-align: center;
}
.user_action{
	font-size: 12px;
    line-height: 38px;
    color:#6e8095;

}
.user_action .icon span{
	display: inline-block;
	width: 18px;
	height: 38px;
	background: url("../img/sprite.png") no-repeat -7px -3px;
	vertical-align: middle;
	filter:alpha(opacity=50); 
	opacity:0.5;
}

.user_action .LV1{
	padding-left: 40px;
	cursor: pointer;
}

.user_action .LV2{
	padding-left: 58px;
	cursor: pointer;
}
.user_action .LV3{
	padding-left: 94px;
	cursor: pointer;
	color: #fff;
}
.user_action .LV3 span{
	filter:alpha(opacity=100);  
	opacity:1;
}

.user_action .LV1:hover,.user_action .LV2:hover,.user_action .LV3:hover{
	background: #383d4e;
	color: #fff;
}
.user_action .LV1:hover span,.user_action .LV2:hover span,.user_action .LV3:hover span{
	filter:alpha(opacity=100);  
	opacity:1;
}


.user_action .dl_action{
	background: #383d4e;
}
.user_action .dl_action .dt_action{
	color: #fff;
}
.user_action .dl_action .dt_action span{
	filter:alpha(opacity=100);  
	opacity:1;
}




.user_action .icon1_LV1 span{
	background-position: -7px -3px;
	
}
.user_action .icon2_LV1 span{
	background-position: -5px -125px;
}
.user_action .icon3_LV1 span{
	background-position: -7px -162px;
}
.user_action .icon4_LV1 span{
	background-position: -5px -125px;
}
.user_action .icon5_LV1 span{
	background-position: -5px -125px;
}
.user_action .icon6_LV1 span{
	background-position:-7px -204px;
}

.user_action .icon1_LV2 span:nth-child(1){
	background-position: -7px -518px;
}
.user_action .icon1_LV2 span:nth-child(2){
	background-position: -7px -42px;
}
.user_action .icon2_LV2 span:nth-child(1){
	background-position: -7px -518px;
}
.user_action .icon2_LV2 span:nth-child(2){
	background-position: -7px -42px;
}

.user_action .icon1_LV3 span{
	background-position:-7px -84px
}



#content{
	margin-left: 260px;
	background-color:#eeeeed;
}
#content .address{

}
#content .address ul{
	background-color: #fff;
	line-height: 30px;
	font-size: 12px;
	color: #aaa;
	padding-left: 20px;

}
#content .address li{
	display: inline;
	cursor: pointer;

}
#content .address .action{
	color: #2189bf;
}
#content .address .action:after{
	color: #FFF;
}
#content .address li:hover{
	color: #2189bf;
}

#content .address li:after{
	display: inline;
	content: "/";
	padding: 0 10px;
	color: #aaa;
}
.content_box{
	width: 978px;
	margin: 0 auto;
	
}
.form_search{
	height: 85px;
	background-color: #fff;
	margin-top: 20px;

}
.form_search ul{
	padding: 20px 40px 0 40px;
}
.form_search li{
	
	float: left;
	line-height: 23px;
	font-size: 12px;
	color: #aaa;
}
.form_search li dl{
	height: 23PX;
	text-indent: 5px;
	float: left;
	margin-left: 15px;
	color: #000;
	border-top: 1px solid #aaa;
	box-sizing: border-box;
	cursor: pointer;
}


.form_search ._label{
	float: left;
}

.form_search li dt{
	position: relative;
	z-index: 98;
	box-sizing: border-box;
	width: 80px;
	height: 23px;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right:1px solid #aaa;
	cursor: pointer;
	

}
.form_search li dt span{
	position: absolute;
	right: 5px;
	display: inline-block;
	width: 18px;
	height: 23px;
	background: url("../img/sprite.png") no-repeat -1px -585px;
	vertical-align: middle;

}

.form_search li dd{
	position: relative;
	z-index: 99;
	box-sizing: border-box;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right:1px solid #aaa;
	display: none;
	background-color: #fff;
	cursor: pointer;

}
.form_search li dd:hover{

	background-color: #2189bf;
	color: #fff;
}
.form_search .li1{
	width: 20%;
}
.form_search .li1 dl:hover dd{
	display: block;
}

.form_search .li2{
	width: 25%;
	position: relative;
}
.form_search .li2 div{
	height: 23px;
	margin-bottom: 6px;
}
.form_search .li2 .part1 dl:hover dd{
	display: block;
}
.form_search .li2 .part2 dl:hover dd{
	display: block;
}
.form_search .li2 .turn{
	position: absolute;
	top: -2px;
	left: 130px;
	height: 58px;
	width: 41px;
	background: url("../img/sprite.png") no-repeat -5px -914px;
	text-align: center;
	line-height: 58px;
	color: #fff;
}

.form_search .li3{
	width: 40%;

}
.form_search .li3 input[type="text"]{
	height: 23px;
	box-sizing:border-box;
	background: none;
	border:1px #aaa solid;
    float: left;
    margin-left: 15px;
    cursor: pointer;

}
.form_search .li3 div{
	height: 23px;
	margin-bottom: 6px;
}



.form_search .li4 input{ 
	border:none;
	background-color:#2189bf;
	border-radius: 5px;
	display:block;
	width: 50px;
	height: 23px;
	color: #fff;
	margin:15px 0 0 60px;

}

#histry_search{
	margin-top: 10px;
}
#histry_search .prev ,#histry_search .next{
	display:block;
	float: left;
	height: 65px;
	width: 30px;
	background: #fff url("../img/sprite.png") no-repeat;
	cursor: pointer;
}
#histry_search .prev{
	background-position: 0 -264px;
}
#histry_search .next{
	background-position: 1px -342px;
}
#histry_search ul{
	float: left;
	height: 65px;
	width: 775px;
	margin: 0 8px;
}
#histry_search li{
	float: left;
	box-sizing:border-box;
	border-top: 4px #fff solid;
	margin-right: 5px;
	width: 125px;
	height: 65px;
	background-color: #fff;
	text-align: center;
	cursor: pointer;

}
#histry_search .action,#histry_search li:hover{
	border-color:  #2189bf;
}


#histry_search ul span{
	display: inline;
	background: none;
	font-size: 12px;
    color: #aaa; 
    margin-right: 5px;
}

#histry_search li p:nth-of-type(1){
	color: #000;
	font-size: 12px;
	margin-top: 10px;

}
#histry_search li p:nth-of-type(2){
	font-size: 21px;
    color: #ec6500;
    margin-top: 5px;
}

.histry_btn{
	height: 65px;
	margin-left: 859px;
	background: #fff url("../img/sprite.png") no-repeat 5px -431px;
	line-height: 65px;
	text-indent: 50px;
	font-size: 12px;
	cursor: pointer;
}

#count{
	margin-top:10px;
	overflow: hidden;
	
}
#count p{
	line-height: 25px;
	font-size: 12px;
}
#count ul{
	height: 70px;
	width: 988px;
}
#count li{
	float: left;
	box-sizing:border-box;
	height: 70px;
	width: 237px;
	margin-right: 10px;
	background-color: #fff;
	border-left: #fff solid 4px;

}

.green .text div{
	background-color: #43b29e;
}
.blue .text div{
	background: #2189bf;
}
.red .text div{
	background: #d04a36;
}
.yellow .text div{
	background: #e2cd46;
}
#count .green{
	border-color: #43b29e;
}
#count .blue{
	border-color: #2189bf;
}
#count .red{
	border-color: #d04a36;
}
#count .yellow{
	border-color: #e2cd46;
}

#count .text{
	padding: 15px 0 0 40px;
	position: relative;

}

#count .text div{
	width: 60px;
	height: 46px;
	position: absolute;
	top: 12px;
	right: 30px;
}


#count .text p:nth-of-type(2){
	color: #aaa;
}


.box_radius{
	border-radius: 8px;
	background-color: #fff;
	margin-top: 10px;
	border: 1px solid #e6e6e8; 
	float: left;
	box-sizing:border-box;
}
.box_radius_p{
	height: 40px;
	background-color: #F4F5F6;
	border-bottom: 1px solid #e6e6e8; 
	border-radius: 8px 8px 0 0;
	text-indent: 20px;
	color: #aaa;
	line-height: 40px;
	font-size: 12px;
	margin-bottom: 15px;
}

.content_part1{
	width: 590px;
	height: 350px;
	margin-right: 8px;
	position: relative;
	

}
.content_part2{
	width: 380px;
	height: 350px;
}
.content_part3{
	width: 380px;
	height: 370px;
	margin-right: 8px;
}
.content_part4{
	width: 590px;
	height: 370px;
}

.content_part1 input{
	display:block;
	width: 70px;
	height: 30px;
	margin-right: 8px;
	position: absolute;
	cursor: pointer;
	z-index: 99;
	filter:alpha(opacity=0); 
	opacity: 0;
}
.content_part1 .in_1{
	left: 43px;
}
.content_part1 .in_2{
	left: 121px;
}
.content_part1 .in_3{
	left: 199px;
}
.content_part1 .in_4{
	left: 277px;
}

.content_part1 .in_1:checked~ul li:nth-of-type(1),.content_part1 .in_2:checked~ul li:nth-of-type(2),.content_part1 .in_3:checked~ul li:nth-of-type(3),.content_part1 .in_4:checked~ul li:nth-of-type(4){
	border-bottom-color: #fff;
	background-color: #fff;
}



.content_part1 .part1_ul{
	height: 30px;
	width: 500px;
	margin: 0 auto;
}
.content_part1 .part1_li{
	float: left;
	box-sizing:border-box;
	width: 70px;
	height: 30px;
	background-color: #EDEDF0;
	border-radius: 8px 8px 0 0;
	font-size: 12px;
	line-height: 30px;
	text-align: center; 
	margin-right: 8px;
	border: 1px solid #e6e6e8; 
	position: relative;
	z-index: 98;
}

.content_part1 .action{
	border-bottom-color: #fff;
	background-color: #fff;
}

._table{
	width: 500px;
	height: 235px;
	border: 1px solid #e6e6e8; 
	margin: 0 auto;
	box-sizing:border-box;
	position: relative;
	top: -1px;
	z-index: 97;
	padding-top: 15px;
	overflow: hidden;
}

._table table{
	width: 450px;
    text-align: center;	
	height: 205px;
	font-size: 12px;
	margin: 0 25px ;

}
._table table td {
	height: 18px;
	border: 1px solid #e6e6e8;
}

._table ul{
	width: 2000px;
	height: 205px;
	position: relative;
	transition: left 0.4s ease-in-out;
}
._table li{
	float:left;

}


.content_part1 .in_1:checked~._table ul{
	left: 0;
}
.content_part1 .in_2:checked~._table ul{
	left: -500px;
}
.content_part1 .in_3:checked~._table ul{
	left: -1000px;
}
.content_part1 .in_4:checked~._table ul{
	left: -1500px;
}
